<h1 class="text-2xl font-bold mb-8">Petitions are too long!</h1>
<p>
    Have you ever tried to change anything that is really annoying in your life?
    Like standing in the cue for food, men not putting down the toilet seats, or
    not finding any parking spots?
    <br />
    <br />
    If so, you know that it is incredibly difficult to find enough people who
    support your cause. Modern day politicans always talk about required
    majorities, and listening to the voice of the people.
    <br />
    <br />
    <span class="font-semibold">We disagree with that.</span>
    <br />
    <br />
    Help us to show the evil politicians that it is
    <span class="font-semibold">not</span> required to have more than 50 people
    to change something!
</p>
<hr class="h-px mx-auto w-1/2 lg:w-1/3 bg-blue-900 mt-6" />
<div class="mt-8 w-full mx-auto md:w-1/3 lg:w-1/2">
    <a class="block btn w-full" href="/register">Support the Cause</a>
</div>
