<h1 class="font-bold text-2xl mb-4">Keep Petitions Short!</h1>
<h2 class="font-semibold text-lg">
    We absolutely hate it if we can't count the number of sign-ups in our
    petitions.
</h2>
<br />
<p class="text-lg">
    It is just ridiculous how many people want to share their opinion on topics
    we care about.
    <br />
    <br />
    We recently started to collect signatures for some climate change related
    goal, and within just a couple of days, we had thousands upon thousands of
    signatures!
    <br />
    <span class="block font-bold text-2xl my-4">Ugh...!!</span>
    In order to bring this madness to a halt, <br />we've started this petition.
    <br />
    <br />
    It's about keeping this very petition small and meaningful. <br /><br />Help
    us to <span class="font-bold">stay below 50 signups.</span>
</p>
<hr class="h-px mx-auto w-1/2 lg:w-1/3 bg-blue-900 mt-6" />
<div class="flex mx-auto justify-around mt-8">
    <a class="btn w-3/4 mx-2 lg:w-1/3" href="/register">Support Us</a>
    <a class="btn w-3/4 mx-2 lg:w-1/3" href="/about">Learn More</a>
</div>
