{{#if error}}
{{>error-message}}
{{/if}}
<h3 class="text-2xl md:text-4xl mb-8 font-semibold leading-tight">
    Tell us a bit more about yourself.
</h3>
<form
    class="mx-auto flex flex-col mb-10 lg:w-2/3"
    method="POST"
    action="/profile"
>
    {{>csurf}}
    <input type="text" name="city" class="input-field" placeholder="City" />
    <p class="mt-2 mb-6 text-xs text-left text-gray-600 w-full leading-none">
        Connect to people in your area!
    </p>
    <input type="number" name="age" class="input-field" placeholder="Age" />
    <p class="mt-2 mb-6 text-xs text-left text-gray-600 w-full leading-none">
        We take numbers, only! ;)
    </p>
    <input
        type="text"
        name="url"
        class="input-field"
        placeholder="Your Website"
    />
    <p class="mt-2 mb-6 text-xs text-left text-gray-600 w-full leading-none">
        Show your work!
    </p>
    <button type="submit" class="btn">Continue</button>
    <p class="text-sm mt-2 mb-8">All fields are optional.</p>
</form>
